asgiref==3.7.2
astroid==3.0.0
attrs==23.2.0
Automat==22.10.0
certifi==2023.5.7
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
constantly==23.10.4
contourpy==1.1.1
cryptography==41.0.7
cssselect==1.2.0
cycler==0.12.1
dill==0.3.7
distlib==0.3.6
Django==4.2.6
filelock==3.12.2
fonttools==4.43.1
greenlet==3.0.0
hyperlink==21.0.0
idna==3.6
incremental==22.10.0
isort==5.12.0
itemadapter==0.8.0
itemloaders==1.1.0
jedi==0.19.1
jmespath==1.0.1
kiwisolver==1.4.5
lxml==5.1.0
matplotlib==3.8.0
mccabe==0.7.0
msgpack==1.0.7
numpy==1.26.0
opencv-contrib-python==4.8.1.78
packaging==23.2
parsel==1.8.1
parso==0.8.3
Pillow==10.0.1
pipenv==2023.7.4
platformdirs==3.8.0
Protego==0.3.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
PyDispatcher==2.0.7
pylint==3.0.1
pynvim==0.4.3
pyOpenSSL==23.3.0
pyparsing==3.1.1
python-dateutil==2.8.2
queuelib==1.6.2
requests==2.31.0
requests-file==1.5.1
service-identity==24.1.0
six==1.16.0
sqlparse==0.4.4
tldextract==5.1.1
tomlkit==0.12.1
Twisted==22.10.0
twisted-iocpsupport==1.0.4
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.1.0
virtualenv==20.23.1
virtualenv-clone==0.5.7
w3lib==2.1.2
zope.interface==6.1
